
/* --------------------总体布局-------------------------- */
header  {
    width: auto;
    height: 60px;
    border: 1px red solid;

}
nav {
    width: auto;
    height: 30px;
    border: 1px red solid;

}
article {
    width: auto;
    height: 1200px;
    border: 1px red solid;

}
footer {
    width: auto;
    height: 30px;
    border: 1px red solid;

}
body {
    background-color: rgb(255, 218, 151);
}

/* --------------------顶部布局-------------------------- */
#title {
    border: 1px red solid;

    font-size: large;
    width: auto;
    height: 30px;
    padding-left: 10%;
}

/* --------------------正文布局-------------------------- */

.song_containter {
    border: 1px red solid;
    width: 90%;
    margin: auto;
    /* height: 1200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.song_box {
    /* border: 1px red solid; */
    width: 200px;
    height: 200px; 
    background: pink;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 20px rgba(111, 114, 151, 0.507);
    position: relative;
    overflow: hidden;

}
.song_box img {
    width: 100%;
    user-select: none;
    transition: .5s;
}
.play_song {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.song_box:hover>img {
    transform: scale(1.2);
}
.song_box:hover .play_song {
    display: block;
}
.play_song img {
    position: absolute;
    width: 50px;
    top: 75px;
    left: 75px;
}
/* --------------------底部布局-------------------------- */


/* --------------------音乐播放器-------------------------- */
#app {
    position: fixed;
    /* bottom: 20%; */
    width: 50px;
    height: 50px;
    background-color: rgb(133, 124, 124,.4);
    background-image: url(../img/playing.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 50%;
    transition: .5s;
    z-index:9999;
}
#app >*{
    visibility: hidden;
    transition: .5s;
    animation-delay: 2s;
    opacity: 0;
}
#app:hover {
    /* visibility: hidden; */
    background-color: none;
}
#app:hover >*{
    visibility: visible;
    z-index:9999;
    opacity: 1;
}