.center{
    text-align: center;
}
#preAvatar{
    width: 5em;
    height: 5em;
    overflow: hidden;
    border: 1px grey solid;
    border-radius: 50%;
    display: inline-block;
}
#preAvatar img{
    width: 100%;
}
#registercAvatarForm{
    display: inline-block;
}