body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.center {
    text-align: center;
}

#preAvatar {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border: 1px grey solid;
    border-radius: 50%;
    display: inline-block;
}

#preAvatar img {
    width: 100%;
}

#registercAvatarForm {
    display: inline-block;
}

#main {
    background-color: #fff;
    padding: 3em;
    border-radius: 5px;
}