body{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.jumbotron{
    background-image: url("/static/img/admin-cover.jpg");
    background-position: center;
}
.jumbotron h1{
    color: white;
}
.deleted_user{
    background-color: grey;
}
button{
    margin-left: 1px;
}
.table > thead > tr > td.deleted,
.table > tbody > tr > td.deleted,
.table > tfoot > tr > td.deleted,
.table > thead > tr > th.deleted,
.table > tbody > tr > th.deleted,
.table > tfoot > tr > th.deleted,
.table > thead > tr.deleted > td,
.table > tbody > tr.deleted > td,
.table > tfoot > tr.deleted > td,
.table > tfoot > tr.deleted > th {
    background-color: darkgrey;
}
.long_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#preAvatar{
    width: 5em;
    height: 5em;
    overflow: hidden;
    border: 1px grey solid;
    border-radius: 50%;
    display: inline-block;
}
#preAvatar img{
    width: 100%;
}
.center{
    text-align: center;
}
.modal{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}